<div class="container">
    <div class="card">
        <div class="card-content black-text">
            <div class="col s12 m12 l12 ">
                <%= form_tag "/login", method: :post do %>

                <div class="row">
                    <div class="input-field col s12">
                        <input  id="email" type="email" name="email">
                        <label for="email">Email Address:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input  id="password" type="password" name="password">
                        <label for="password">Password:</label>
                    </div>
                </div>
                <center>
                    <input type="submit" class="btn btn-primary" value="Log In">
                
                <% end %>
                    <a href="/signup" class="btn btn-primary" value="Sign up"> Sign up</a>
                    </center>
            </div>
        </div>
    </div>
</div>