
<div class="container">
    <div class="card">
        <div class="card-content black-text">
          <%= form_tag '/users', method: :post do  %>

          <div class="row">
            <div class="input-field col s12">
              <input id="input_user_name" type="text" name="input_user_name">
              <label for="input_user_name">User Name:</label>
            </div>
          </div>

<!--   <div>
  User Name:
  <input type="text" name="input_user_name"> -->

          <div class="row">
            <div class="input-field col s12">
              <input id="input_first_name" type="text" name="input_first_name">
              <label for="input_first_name">First Name:</label>
            </div>
          </div>
<!-- 
  <div>
    First Name:
    <input type="text" name="input_first_name">
  </div> -->

          <div class="row">
            <div class="input-field col s12">
              <input id="input_last_name" type="text" name="input_last_name">
              <label for="input_last_name">Last Name:</label>
            </div>
          </div>

<!--     <div>
    Last Name:
    <input type="text" name="input_last_name">
  </div> -->

          <div class="row">
            <div class="input-field col s12">
              <input id="input_email" type="text" name="input_email">
              <label for="input_email">Email Address:</label>
            </div>
          </div>

<!--   <div>
    Email:
    <input type="email" name="input_email">
  </div> -->

          <div class="row">
            <div class="input-field col s12">
              <input id="input_password" type="text" name="input_password">
              <label for="input_password">Password:</label>
            </div>
          </div>
<!--   <div>
    Password:
    <input type="password" name="input_password">
  </div> -->

          <div class="row">
            <div class="input-field col s12">
              <input id="input_password_confirmation" type="text" name="input_password_confirmation">
              <label for="input_password_confirmation">Confirm Password:</label>
            </div>
          </div>
<!--   <div>
    Confirm Password:
    <input type="password" name="input_password_confirmation">
  </div> -->
          <div class="row">
            <div class="input-field col s12">
              <input id="input_profile_img_url" type="text" name="input_profile_img_url">
              <label for="input_profile_img_url">Profile Photo:</label>
            </div>
          </div>
<!--     <div>
    Profile Img URL:
    <input type="text" name="input_profile_img_url">
  </div> -->

  <center><input type="submit" class="btn btn-primary" value="Submit"></center>
<% end %>
</div>
